
.section{
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.main_img{
  width: 70%;
  height:60%;
  margin: auto;
  margin-top: 0;
}

.main_img img {
  height: 100%;
}

.section .main_img h1{
  position: absolute;
  font-size: 90px;
  font-weight: 900;
  width: 100%;
  color: #fff;
  text-align: center;
  margin: auto;
}

.text {
  margin: 2% 10%;
  height: 10%;
}

.detail {
  height: 10%;
}

.detail button {
  width: 60%;
  height: 40px;
  border: none;
  background: #F6AE99;
  font-size: 16px;
  font-weight: 900;
}

.detail button a {
  text-decoration: none;
  color: #fff;
}

#area_2 .detail button {
  background: #DEBA9D;
  color: #fff;
}

#area_3 .detail button {
  background: #9E7777;
  color: #fff;
}

#area_4 .detail button {
  background: #6F4C5B;
  color: #fff;
}

#area_5 .detail button {
  background: #716F81;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .main_img{
    width: 100%;
    height: 40%;
    margin: auto;
    margin-top: 0;
  }

  .text {
    margin: 10% 10%;
    height: 10%;
  }
  }